body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: aqua;
}

.hero{
        height: 90vh;
        width: 100%;
        background: url(images/ba2.jpg);
        background-size: cover;
        background-position: center;
        margin: auto;
}

.login{
    width: 400px;
    height: 85%;
    background: #3b5998;
    color: #fff;
    margin-top: 23%;
    left: 70%;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: aqua;
    font-size: 18px;
    border-radius: 20px ;
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
    transition: 0.6s;
}
.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.login a:hover{
    color: cyan;
    transition: 0.5s;
}

.navbar{
    background: white;
    height: 80px;
    display: flex;
    
}


.navbar a {
    text-decoration: none;
}




.part1{
    margin: 1em;

}

.part2{
    margin-top: 20px;
    float: left;
    margin-right: 7em;
    
}


#color-me{
    color: rgb(222, 152, 21);
    font-weight:bold ;
    margin-right: 2em;

}

.part3{
    margin-top: 20px;
    margin-left: 6em;
}

  .navbar a:hover{
    transform: scale(1.2);
    color: aqua;
    
}